*{
    padding: o;
    margin: 0;
  
}

body{
     background-color: rgb(83, 119, 83);
}
h1{
    position: relative;
    left: 10px;
    top: 10px;
    font-family: Microsoft JhengHei;
    font-size: 50px;
    box-shadow: 5px 5px 10px black;
}

h3{
    z-index: 1;
    color: whitesmoke;
    text-align: center;
}
img{
    position: relative;
    left: 10px;
    top: 20px;
}

@keyframes slideleft{
    from{ left: -300px; opacity: 0;}
    to{left: 0; opacity: 1;}
    
}
.slide-text{
    font-size: 140px;
    position: relative;
    animation: slideleft 2s ease;
    text-shadow: 5px 5px 10px black;
    left: 35px;
    top: -1000px;
    color: whitesmoke;


}



.one{
    position: relative;
    top: 50px;
    left: 10px;
    width: 210px;
    height: 1110px;
    border: 1px;
    background-color: rgb(235, 203, 144);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    
    flex-wrap: wrap;
    justify-content: space-around;
}

.two{
    position: relative;
    width: 150px;
    height: 1000px;
    left: 230px;
    
} 

.five{
    position: relative;
    background-color: black;
    width: 400px;
    height: 700px;
    left: 0;
    top: -900px;
}
.text{
    color: white;
    font-family: Microsoft JhengHei;
    text-align: center;
}
.box{
    color: white;
    font-family: Microsoft JhengHei;
    text-align: center;
}